<% provide(:title, 'Contact') %>
    <h1>Contacto</h1>
    <h2>Para utilizar el contacto podés:</h2>
      
    <p>
      Buscar un toma corriente y enchufar algo.<p>
      Usar lentes de contacto.<p>
      Olvidarte un espacio en la frase "Decilo con tacto".</p>