<li>
  <%= gravatar_for user, size: "52x52" %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Volarlo", user, method: :delete, confirm: "Seguro? Mira que se va..." %>
  <% end %>
</li>